<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.xjj.dao.CategoryDao">
      <select id="findAll" resultMap="myproduct">
          select * from category c,categorysecond cs where c.cid=cs.cid;
      </select>
      
      <resultMap type="com.xjj.entity.Category" id="myproduct">
          <id column="cid" property="cid"/>
          <result column="cname" property="cname"/>
          <!-- collection定义关联集合类型的属性的封装规则ofType:指定集合里面元素的类型 -->
          <collection property="categorySeconds" ofType="com.xjj.entity.CategorySecond">
              <id column="csid" property="csid"/>
              <result column="csname" property="csname"/>
          </collection>
      </resultMap>
      <select id="findAllWithAdmin" resultType="com.xjj.entity.Category">
          select * from category
      </select>
      <select id="findById" resultType="com.xjj.entity.Category">
          select * from category where cid=#{cid}
      </select>
      <insert id="insertCategory" parameterType="java.lang.String">
          insert into category(cname) values(#{cname})
      </insert>
      <delete id="deleteCategory" parameterType="int">
          delete from category where cid=#{cid}
      </delete>
      <update id="updateCategory">
          update category set cname=#{cname} where cid=#{cid}
      </update>
 </mapper>